$primary-color: #444;
$secondary-color: #eece1a;
$image-path: "../img";
$home-image-display: true;
$home-image: url(#{$image-path}/home_image.jpg);
$home-image-opacity: 0.9;

// Retrun rootpath
@function get-path($image-path) {
  @return $image-path;
}

// Transition's default setup
@mixin easeOut {
  transition: all 1s ease-out;
}

// Background image
@mixin background {
  @if $home-image-display {
    &#bg-image {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      .overlay {
        // absoulte: to cover the entire page, from top and right at 0 with 100% of width and height
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $home-image-opacity);
        z-index: -1;
      }
    }
  }
}
