// Burger-Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 1.8rem;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  // Rotate Into X with Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        width: 2rem;
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6.5px);
        width: 2rem;
      }
    }
  }
}

// Sidebar - Menu Overlay
.menu {
  position: fixed;
  top: 0;
  left: 55%;
  height: 100vh;
  width: 45%;
  opacity: 0.7;
  visibility: hidden;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  transform: translate3d(0, -100%, 0);
  @include easeOut;

  &.show {
    visibility: visible;
    background: darken($primary-color, 5);
    transform: translate3d(0, 0, 0);
  }

  // menu-profile
  &-profile {
    height: 27vh;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 250px;
    background: url("#{$image-path}/sm_profile_picture.jpg");
    border-radius: 50%;
  }

  // menu-navbar
  &-navbar {
    list-style: none;
    text-align: center;
    margin: 0;
    margin-top: 7%;
    padding: 0;
  }

  &-profile,
  &-navbar {
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  // navbar-itme slide in from the right's animation
  .navbar-item {
    transform: translate3d(1000px, 0, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each navbar-item slide in by 0.2s
@for $x from 1 through 5 {
  .navbar-item:nth-child(#{$x}) {
    transition-delay: $x * 0.2s;
  }
}
