// Widescreens
@include mediaXL {
  // Projects Page
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  // Projects Page
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  // Body's overflow
  body {
    overflow: visible;
  }

  // Main element
  main {
    text-align: center;
    align-items: center;

    .row {
      display: flex;
      flex-flow: column;
      .col-md-6 {
        height: 50%;
        width: 100%;
      }
    }

    .coding-display {
      margin-top: 0px;

      #typewriter {
        margin-top: 10%;
        padding-right: 20%;
        float: right;
      }
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }

    .sm-heading {
      margin-top: 5%;
    }

    &#home {
      h1 {
        margin-top: 10vh;
      }
    }
  }

  // Menu section
  .menu {
    left: 0;
    width: 100%;
    opacity: 1;

    .menu-navbar {
      margin-top: 5%;
    }
  }

  // About Me
  .about-me {
    grid-template-areas:
      "profile-picture"
      "info-box"
      "work1"
      "work2"
      "work3";
    grid-template-columns: 1fr;
  }

  // Projects Page
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  // Body's overflow
  body {
    overflow: visible;
  }

  // Main element
  main {
    padding: 3rem;
    text-align: center;
    align-items: center;

    .row {
      display: flex;
      flex-flow: column;
      .col-md-6 {
        height: 50%;
        width: 100%;
      }
    }

    .coding-display {
      margin-top: 0px;

      #typewriter {
        margin-top: 10%;
        float: right;
        padding-right: 10%;
      }
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 4rem;
    }

    .sm-heading {
      font-size: 1.5rem;
    }

    &#home {
      h1 {
        margin-top: 10vh;
      }
    }
  }

  // Menu
  .menu {
    left: 0;
    width: 100%;
    opacity: 1;

    .menu-navbar {
      margin-top: 3%;
    }

    .nav-link {
      font-size: 25px;
    }
  }

  // About Me
  .about-me {
    grid-template-areas:
      "profile-picture"
      "info-box"
      "work1"
      "work2"
      "work3";
    grid-template-columns: repeat(1, 1fr);

    .profile-picture {
      width: 250px;
      height: 250px;
      margin: auto;
      background: url("#{$image_path}/sm_profile_picture.jpg");
    }
  }

  // Projects Page
  .projects {
    grid-template-columns: 1fr;
  }
}
