@import "config";
@import "menu";
@import "coding-display";

// Include the padding and the border in an element's total width and height
* {
  box-sizing: border-box;
}

// Body
body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow: hidden;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 800;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.4rem 0.8rem;
    background: rgba(lighten($primary-color, 4), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

// Main
main {
  padding: 4rem;
  // Calculate the height with the footer sticking at the bottom
  min-height: calc(100vh - 60px);

  .row {
    display: flex;
    .col-md-6 {
      width: 50%;
    }
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
    }

    i {
      @include easeOut();

      &#twitter:hover {
        transform: scale(1.5);
        color: $twitter-color;
      }
      &#facebook:hover {
        transform: scale(1.5);
        color: $facebook-color;
      }
      &#linkedin:hover {
        transform: scale(1.5);
        color: $linkedin-color;
      }
      &#github:hover {
        transform: scale(1.5);
        color: $github-color;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// Coding-display

.coding-display {
  margin-top: 20vh;
  visibility: visible;

  &.show {
    visibility: hidden;
  }
}

// About Me

.container {
  padding: 2rem;
}

.about-me {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "profile-picture info-box info-box"
    "work1 work2 work3";
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;

  // Profile-picture
  .profile-picture {
    grid-area: profile-picture;
    display: block;
    background: url("#{$image_path}/profile_picture.jpg");
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid $secondary-color;
    margin: auto;
  }

  // Info
  .info-box {
    grid-area: info-box;
    // Info-Bio
    .info-bio {
      font-size: 2rem;
      font-weight: 500;
      color: $secondary-color;
      padding-bottom: 5%;
    }
  }

  // Work
  .work {
    background: lighten($primary-color, 5);
    border-bottom: 3px solid $secondary-color;
    padding: 2rem;
  }

  .work1 {
    grid-area: work1;
  }

  .work2 {
    grid-area: work2;
  }

  .work3 {
    grid-area: work3;
  }
}

// Footer - #main-footer
#main-footer {
  text-align: center;
  height: 60px;
  background: darken($primary-color, 10);
  padding: 1rem;
}

@import "mobile";
