@import "config";
@import "menu";
@import "coding-display";
//import check mark;
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

// Include the padding and the border in an element's total width and height
* {
  box-sizing: border-box;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

// Body
body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  //overflow: hidden;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 800;

  &.lg-heading {
    font-size: 6rem;
    @extend .bounceInDown;
    @extend .animated;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.4rem 0.8rem;
    background: rgba(lighten($primary-color, 4), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

// Main
main {
  padding: 5rem;
  // Calculate the height with the footer sticking at the bottom
  min-height: calc(100vh - 60px);

  .row {
    display: flex;
    .col-md-6 {
      width: 50%;
    }
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
    }

    i {
      @include easeOut();

      &#twitter:hover {
        transform: scale(1.5);
        color: $twitter-color;
      }
      &#facebook:hover {
        transform: scale(1.5);
        color: $facebook-color;
      }
      &#linkedin:hover {
        transform: scale(1.5);
        color: $linkedin-color;
      }
      &#github:hover {
        transform: scale(1.5);
        color: $github-color;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// Coding-display

.coding-display {
  margin-top: 20vh;
  visibility: visible;

  &.show {
    visibility: hidden;
  }
}

// About Me

.about-me {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "profile-picture info-box info-box"
    "work1 work2 work3";
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;

  // Profile-picture
  .profile-picture {
    grid-area: profile-picture;
    display: block;
    background: url("#{$image_path}/profile_picture.jpg");
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid $secondary-color;
    margin: auto;
  }

  // Info
  .info-box {
    grid-area: info-box;
    // Info-Bio
    .info-bio {
      font-size: 3rem;
      font-weight: 500;
      color: $secondary-color;
      text-decoration: underline;
    }

    // Who-Am-I section
    .who-am-I {
      margin-bottom: 2rem;
      padding: 0.4rem 0.8rem;
      background: rgba(lighten($primary-color, 4), 0.5);
      font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
      font-size: 1.2rem;
      font-weight: 100;
    }
  }

  // Work
  .work {
    background: lighten($primary-color, 5);
    border-bottom: 3px solid $secondary-color;
    padding: 2rem;
  }

  .work1 {
    grid-area: work1;
  }

  .work2 {
    grid-area: work2;
  }

  .work3 {
    grid-area: work3;
  }

  h3 {
    font-size: 2rem;
    color: $secondary-color;
  }

  ul {
    padding: 0;
  }

  // Skill-List
  .skill-list {
    columns: 2;
    // For Safari3 and Chrome
    -webkit-columns: 2;
    // For Firefox
    -moz-columns: 2;
    list-style-type: none;

    .skill-item {
      font-size: 1.2rem;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-style: italic;
      &:before {
        content: "\2713";
        padding: 10px;
        color: lightgreen;
      }
    }
  }

  // Experience
  .experience {
    padding: 1rem;
    h4 {
      margin: 0;
    }

    .time-spent {
      float: right;
      font-style: italic;
    }

    .experience-list {
      padding-left: 1.5rem;

      .experience-item {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
      }
    }
  }

  // Hobby-List
  .hobby-list {
    columns: 1;
    // For Safari3 and Chrome
    -webkit-columns: 1;
    // For Firefox
    -moz-columns: 1;
    list-style-type: none;
    text-align: center;

    .hobby-item {
      font-size: 1.5rem;
      padding: 0.5rem 0.5rem;
      font-weight: 400;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-style: italic;
    }
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;

  .project-title {
    display: block;
    text-align: center;
    height: 10%;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Lucida Bright", Georgia, serif;
    font-style: italic;
    color: $secondary-color;
    font-weight: 500;
  }

  a.btn-dark,
  a.btn-light {
    text-align: center;
    font-weight: 700;
  }

  // Shrink the images within the projects
  img {
    width: 100%;
    height: calc(100% - 10% - 2 * 40px - 16px);
    border: 3px solid white;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Button Styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  height: 40px;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: set-text-color(darken($primary-color, 50));
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: set-text-color(lighten($primary-color, 50));
}

// Contact Page
.contact-boxes {
  display: flex;
  width: 100%;
  .contact-info {
    width: 50%;

    .contact {
      padding: 1rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
    }

    .address-map {
      width: 500px;
      height: 500px;
      background: url("../img/address.JPG");
      background-position: 20% 50%;
      border-radius: 50%;
      border: 3px solid $secondary-color;
      margin: auto;
    }
  }

  .contact-form {
    width: 50%;
    form {
      padding: 2rem;

      input[type="text"],
      input[type="email"],
      textarea {
        padding: 0.2rem;
        box-sizing: border-box;
        margin-bottom: 16px;
        border-radius: 4px;
        border: 1px solid $secondary-color;
      }

      label {
        font: 0.75em "MuseoSlab500", Georgia, Times, serif;
        text-transform: uppercase;
        text-shadow: #fff 0 1px 0;
        width: 100%;
      }

      input[type="text"],
      input[type="email"] {
        display: block;
        width: 300px;
        background-color: lighten($primary-color, 5);
      }

      textarea {
        height: 200px;
        width: 100%;
        resize: vertical;
        background-color: lighten($primary-color, 5);
      }

      .submit-btn {
        opacity: 0.8;
        border-radius: 10px;
      }
    }
  }
}

// KeyWord
.key-word {
  font-style: italic;
  font-weight: bold;
}

// Footer - #main-footer
#main-footer {
  text-align: center;
  height: 60px;
  background: darken($primary-color, 10);
  padding: 1rem;
  font-weight: 400;
}

@import "mobile";
